@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-monoitalic: var(--font-mono);
  --font-monoitalic--font-variation-settings: 'ital' 1;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-foreground: rgb(33, 33, 33);
  --color-background: rgb(237, 237, 237);
  --color-highlight: rgb(255, 255, 255);
  --color-shadow: rgb(200, 200, 200);
  --color-breakfast: color(display-p3 0 0.545098 0.545098);
  --color-lunch: color(display-p3 0.752941 0.498039 0);
  --color-dinner: color(display-p3 0.886275 0.372549 0);
  --color-snacks: color(display-p3 0.462745 0.05098 0.87451);
  --color-proteins: color(display-p3 0 0.6 0.6);
  --color-accent: color(display-p3 1 0.6 0.5);
  --color-foreground-dark: rgb(237, 237, 237);
  --color-background-dark: rgb(33, 33, 33);
  --color-highlight-dark: rgb(56, 56, 56);
  --color-shadow-dark: rgb(0, 0, 0);
  --color-breakfast-dark: color(display-p3 0.470588 0.913725 0.796078);
  --color-lunch-dark: color(display-p3 1 0.866667 0.376471);
  --color-dinner-dark: color(display-p3 1 0.623529 0.372549);
  --color-snacks-dark: color(display-p3 0.811765 0.568627 1);
  --color-proteins-dark: color(display-p3 0 0.9961 0.6196);

  --shadow-glow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

  --animate-overlay-show: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-overlay-hide: overlayHide 500ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-modal-content-show: modalContentShow 300ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-modal-content-hide: modalContentHide 300ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-border: border 8s linear infinite;

  --animate-accordion-slide-down: accordion-slide-down 300ms
    cubic-bezier(0.87, 0, 0.13, 1);
  --animate-accordion-slide-up: accordion-slide-up 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  --animate-meter-bar-show: meter-bar-show 1200ms cubic-bezier(0.16, 1, 0.3, 1);

  /* Overlay animation */
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes overlayHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes modalContentShow {
    from {
      opacity: 0;
      margin-top: 2rem;
      scale: 0.9;
    }
    to {
      opacity: 1;
      margin-top: 0;
      scale: 1;
    }
  }
  @keyframes modalContentHide {
    from {
      opacity: 1;
      margin-top: 0;
      scale: 1;
    }
    to {
      opacity: 0;
      margin-top: 2rem;
      scale: 0.9;
    }
  }

  /* Border glow animation */
  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }

  /* Accordion animation */
  @keyframes accordion-slide-down {
    from {
      height: 0px;
      opacity: 0;
      margin-top: 0rem;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
      margin-top: 2rem;
    }
  }
  @keyframes accordion-slide-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
      margin-top: 2rem;
    }
    to {
      height: 0px;
      opacity: 0;
      margin-top: 0rem;
    }
  }

  /* Meter bar glow animation */
  @keyframes meter-bar-show {
    from {
      opacity: 0;
      transform: scale3d(0.5, 0, 1);
      filter: brightness(2) saturate(2);
    }
    25% {
      opacity: 0;
      transform: scale3d(0.5, 0, 1);
      filter: brightness(2) saturate(2);
    }
    50% {
      opacity: 1;
      transform: scale3d(1.1, 1.5, 1);
      filter: brightness(2) saturate(2);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
      filter: brightness(1) saturate(1);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }

  * {
    font-synthesis: none !important;
  }

  body {
    font-family: var(--font-sans);
    /* color-scheme: light dark; */
  }

  .font-mono.italic {
    font-variation-settings: 'ital' 1;
  }

  p a {
    color: var(--color-accent);
    text-decoration: underline;
  }
}
